@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f1f5f9;

  --cloud-aws: #f97316;
  --cloud-azure: #38bdf8;
  --cloud-gcp: #34d399;
  --cloud-multi: #c084fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(30, 41, 59, 0.25) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(30, 41, 59, 0.25) 1px, transparent 1px);
}
